.active {
    background-color: black;
    color: white;
    padding: .5rem 0;
    border-radius: 5px;
    transition: .3s;
    border: 2px dashed transparent;
}

.active:hover {
    border: 2px dashed rgb(87, 80, 80);
    background-color: gainsboro;
    color: black;
}

.pending {
    background-color: gray;
    padding: .5rem 0;
    border-radius: 5px;
}

.all {
    background-color: gainsboro;
    padding: .5rem 0;
    border-radius: 5px;
    border: 2px dashed transparent;
    transition: .3s;
}

.all:hover {

    border: 2px dashed black;

}